body {
	margin: 0px;
    width: 100%;
    background-color: #FFC282;
	border: 1px solid black;
}

#nav > table {
    border-collapse: collapse;
    width: 100%;
	height: 60px;
}


#nav > table > tbody > tr > th {
    width: 20%;
    text-align: center;
	font-weight: normal;
}

#content > table {
	border-collapse: collapse;
	margin: auto;
	width: 90%;
}

.fixedheight {
	table-layout: fixed;
}

.fixedheight td {
	height: 175px;
	overflow: hidden;
}

#content > table > tbody > tr > th {
	font-size: 2em;
	width: 33.3333333%;
	text-align: center;
	border: 4px solid black;
	background-color: #ff7905;
	color: white;
}

#content > table > tbody > tr > td {
	font-size: 1.2em;
	width: 33.3333333%;
	text-align: center;
}

.central {
	border-left: 2px solid black;
	border-right: 2px solid black;
}

.alternate {
	background-color: #ffe6cc;
}

.citation {
	text-indent: -3em;
	line-height: 1.4em;
	margin: auto;
	width: 80%;
	padding: 0.5em;
}

.limitdisplay {
	width: 450px;
	height: 300px;
	margin: auto;
}

.cc {
	font-size: 0.6em;
	text-align: center;
	text-indent: 0em;
	margin: auto;
}

.description {
	font-size: 1.5em;
	text-align: center;
	margin: auto;
	text-indent: 0em;
	padding-top: 1em;
	padding-bottom: 1em;
	color: #ed1400
}

.imagecontainer {
	position: relative;
	width: 85%;
	margin: auto;
}

.image {
	display: block;
	width: 100%;
	margin: auto;
	transition: .5s ease;
}

.main {
	font-size: 4em;
	padding-bottom: 0;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color: #ed1400;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	
}


.imagecontainer:hover .overlay {
	opacity: 1;

}

.imagecontainer:hover .image {
	opacity: 0;
}

.current {
	background-color: #D9403D;
}


img {
	padding-top: 1em;
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 50%;
	height: auto;
}

#header {
	background: linear-gradient(to bottom, #640E37, #F74D3F);
	display: flex;
	margin: 0px;
	padding: 0px;
	position: fixed;
	width: 100%;
	top: 0;
}

#nav {
	display: flex;
	font-size: 2em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: bold;
	font-style: oblique;
	background-color: #F74D3F;
	position: fixed;
	width: 100%;
	top: 138px;
}

#container{
	margin: auto;
	width: 80%;
	margin-top: 198px;
}

#content {
	border-top: 0.1px solid white;
	background-color: white;
	min-height: 700px;
	border-bottom: 1px solid white;
	font-family: 'Georgia', 'Arial', 'Sans-Serif';
	padding-bottom: 30px;
}
#footer {
	font-size: 0.5em;
	background-color: #F74D3F;
	min-height: 60px;
}

#footer > p {
	text-align: center;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	margin-top: 0;
	margin-bottom: 0;
	color: #fff0a1 
}
/*
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
	margins: 0;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
*/
#nav > table > tbody > tr > th > a {
    text-decoration: none;
    color: #fff0a1;
	text-shadow: 2px 2px #c9393c;
}
#nav > table > tbody > tr > th > a:hover {
    text-decoration: underline;
	color: #ffffff;
}

a {
	text-decoration: underline;
	color: #dd392c;
}
a:hover {
	color: #fcd202;
}

a:visited {
	color: #99261d;
}



#header > h1 > a {
	color: white;
	text-decoration: none;
}
h1 {
	padding-left: 0.5em;
	color: white;
    font-size: 4em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	text-shadow: 4px 4px black;
	font-style: oblique;
	margin-bottom: 0.33em;
}

h2 {
	font-size: 3em;
	font-family: 'Trebuchet MS', 'Helvetica', 'Sans-Serif';
	padding-left: 1em;
	color: #ed1400;
}

h3 {
	font-size: 2.0em;
	font-family: 'Trebuchet MS', 'Helvetica', 'Sans-Serif';
	text-align: center;
	font-style: italic;
}

p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
	text-indent: 3em;
	width: 90%;
	margin: auto;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
	
}

